<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продукты</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="container padding">
        <div onmouseover="overButton()" onmouseout="outButton()" class="catalog-name_container">
            {% for i in categories %}
                <a href="#" class="text_name">{{ i.name_category }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="navigation">
            <a href="#" class="link-page">Главная</a>
            <a href="#" class="link-page">Каталог</a>
            <a href="#" class="link-page active">Молоко, сыр, яйцо</a>
        </div>
    </div>

    <main class="products_content">
        <div class="container">
            <h1 class="title title_products">Молоко, сыр, яйцо</h1>

            <div class="sub_categories">
                <button class="link_sub_categories">Товары нашего производства</button>
                <button class="link_sub_categories">Полезное питание</button>
                <button class="link_sub_categories">Без ГМО</button>
            </div>

            <div class="block_products">
                <div class="filter">
                    <p class="title_filter">Фильтр</p>
                    <div class="price_filter">
                        <div class="row_1_filter">
                            <p class="name_price">Цена</p>
                            <button class="clrBtn_price">Очистить</button>
                        </div>
                        <div class="row_2_filter">
                            <input type="number" name="min_price" id="min_price" class="input_price" placeholder="1">
                            <span class="line"></span>
                            <input type="number" name="max_price" id="max_price" class="input_price" placeholder="100">
                        </div>
                        <div class="slider-track">
                            <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
                            <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
                        </div>
                    </div>

                    <ul class="list_categories">
                        {% for i in categories %}
                            <li class="category"><a href="#" class="link_category">{{ i.name_category }}</a></li>
                        {% endfor %}
                    </ul>
                    <label class="switch">
                        <input type="checkbox" name="in_stock" id="in_stock">
                        <span class="block_for_switch"></span>
                        <span class="text_for_swicth">В наличии</span>
                    </label>
                    <button class="use_filter">Применить</button>
                </div>
                <div class="view_produts">
                    <div class="select_filter">
                        <button class="select_filter_button clr_filter">Очистить фильтры</button>
                    </div>
                    <div class="card_content">
                        {% for i in products %}
                        <div class="card_product">
                            <div class="img_crad_product" style="background-image: url('{{ i.photo_product.url }}');
                                 background-position: center center; background-size: cover; width: 272px; height: 274px;">
                                <button class="like"><img src="static/img/product/heart.svg" alt="like"></button>
                                <div class="discount">50%</div>
                            </div>
                            <div class="content_product">
                                <div class="price">
                                    <div class="normal_price">
                                        <p class="text_price text_price_normal">{{ i.price }}</p>
                                        <p class="discription_price">Цена</p>
                                    </div>
                                </div>
                                <p class="name_product">{{ i.name_product }} вес {{ i.gram }}грамм, {{ i.country_name }}</p>
                                <div class="rating">
                                    <img src="static/img/product/star.svg" alt="" class="star">
                                    <img src="static/img/product/star.svg" alt="" class="star">
                                    <img src="static/img/product/star.svg" alt="st" class="star">
                                    <img src="static/img/product/star_smoke.svg" alt="" class="star">
                                    <img src="static/img/product/star_smoke.svg" alt="" class="star">
                                </div>

                                <button class="to_bascket">В корзину</button>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="show_more">Показать еще</button>
                    <div class="pagination">
                        <button class="to_begining pagination_button"></button>
                        <button class="back pagination_button"></button>
                        <a href="#" class="page_pagination">16</a>
                        <a href="#" class="page_pagination">1</a>
                        <a href="#" class="page_pagination">2</a>
                        <a href="#" class="page_pagination">3</a>
                        <a href="#" class="page_pagination">4</a>
                        <a href="#" class="page_pagination">5</a>
                        <a href="#" class="page_pagination">6</a>
                        <button class="next pagination_button"></button>
                        <button class="to_ending pagination_button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    {% include 'footer.html' %}
    <script src="../static/js/main.js"></script>
    {% include 'register.html' %}
</body>

</html>