{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
    <div class="slider">
        <div class="container padding">
            <div class="slider_container">
                <img class="fon_slider" src="{% static 'img/h_fon.jpg'%}" alt="slider_fon">
                <div class="content_slider">
                    <img class="basket_jpg" src="{% static "img/bask.png"%}" alt="basket_img">
                    <p class="text_slider">Доставка бесплатно от 1000 ₽</p>
                </div>
            </div>
        </div>
    </div>

    <main class="main">
        <div class="container">
            <div class="block ">
                <div class="first-line">
                    <p class="title title_block">Самые популярные продукты</p>
                    <a href="#" class="link_block">Все акции</a>
                </div>
                <div class="second-line">
                    {% for i in products %}
                        <div class="card_product">
                            <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                                <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                                <div ontimeupdate="check_discount()" class="discount">0</div>
                            </div>
                            <div class="content_product">
                                <div class="price">
                                    <div class="discount_price">
                                        <p class="text_price"> {{ i.price }}</p>
                                    </div>
                                </div>
                                <p class="name_product">{{ i.name_product }} {{ i.gram }}грамм, {{ i.country_name }}</p>
                                <div class="rating">
                                    <img src="static/img/product/star.svg" alt="" class="star">
                                    <img src="static/img/product/star.svg" alt="" class="star">
                                    <img src="static/img/product/star.svg" alt="st" class="star">
                                    <img src="static/img/product/star_smoke.svg" alt="" class="star">
                                    <img src="static/img/product/star_smoke.svg" alt="" class="star">
                                </div>
                                <button class="to_bascket">В корзину</button>
                            </div>
                        </div>
                    {% endfor  %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

