{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
    <div class="slider">
        <div class="container padding">
            <div class="slider_container">
                <img class="fon_slider" src="{% static 'img/h_fon.jpg'%}" alt="slider_fon">
                <div class="content_slider">
                    <img class="basket_jpg" src="{% static "img/bask.png"%}" alt="basket_img">
                    <p class="text_slider">Доставка бесплатно от 1000 ₽</p>
                </div>
            </div>
        </div>
    </div>

    <main class="main">
        <div class="container">
            <div class="block ">
                <div class="first-line">
                    <p class="title title_block">Акции</p>
                    <a href="#" class="link_block">Все акции</a>
                </div>
                <div class="second-line">
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div ontimeupdate="check_discount()" class="discount">0</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="static/img/product/star.svg" alt="" class="star">
                                <img src="static/img/product/star.svg" alt="" class="star">
                                <img src="static/img/product/star.svg" alt="st" class="star">
                                <img src="static/img/product/star_smoke.svg" alt="" class="star">
                                <img src="static/img/product/star_smoke.svg" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url(./static/img/product/blin.jpg);">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %} alt="" class="star">
                                <img src="{% static "img/product/star.svg" %} alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %} alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %} alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %} alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %} alt="" class="star">
                                <img src="{% static "img/product/star.svg" %} alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %} alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %} alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url(./static/img/product/blin.jpg);">
                            <button class="like"><img src="{% static "img/product/heart.svg" %} alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block ">
                <div class="first-line">
                    <p class="title title_block">Новинки</p>
                    <a href="#" class="link_block">Все новинки</a>
                </div>
                <div class="second-line">
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url(./static/img/product/blin.jpg);">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg"%});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block ">
                <div class="first-line">
                    <p class="title title_block">Покупали раньше</p>
                    <a href="#" class="link_block">Все покупки</a>
                </div>
                <div class="second-line">
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div class="img_crad_product" style="background-image: url({% static "img/product/blin.jpg" %});">
                            <button class="like"><img src="{% static "img/product/heart.svg" %}" alt="like"></button>
                            <div class="discount">50%</div>
                        </div>
                        <div class="content_product">
                            <div class="price">
                                <div class="discount_price">
                                    <p class="text_price"> 33.04</p>
                                    <p class="discription_price ">Цена со скидкой</p>
                                </div>
                                <div class="normal_price">
                                    <p class="text_price text_price_normal"> 55.76</p>
                                    <p class="discription_price">Цена без скидки</p>
                                </div>
                            </div>
                            <p class="name_product">Г/Ц Блинчики с мясом вес, Россия</p>
                            <div class="rating">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star.svg" %}" alt="st" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                                <img src="{% static "img/product/star_smoke.svg" %}" alt="" class="star">
                            </div>

                            <button class="to_bascket">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="special_offers">
                <p class="title_special_offers">Специальные предложения</p>
                <div class="banner_row">
                    <a href="#" class="banner">
                        <div class="content_banner">
                            <p class="title_banner">Покупайте акционные товары</p>
                            <p class="discription_banner">И получайте вдвое больше бонусов</p>
                        </div>
                        <div class="image_banner">
                            <img src="{% static "img/special_offers/baner_fon-_offer.svg" %}" alt="">
                        </div>
                    </a>
                    <a href="#" class="banner">
                        <div class="content_banner">
                            <p class="title_banner">Оформите карту «Северяночка»</p>
                            <p class="discription_banner">И получайте бонусы при покупке в магазинах и на сайте</p>
                        </div>
                        <div class="image_banner">
                            <img src="{% static "img/special_offers/crad_loyal.png" %}" alt="">
                        </div>
                    </a>
                </div>
            </div>

        </div>
        </div>
    </main>
{% endblock %}

