    <footer class="footer">
        <div class="container">
            <div class="footer_container">
                <a href="../catalog/templates/catalog/index.html" class="logo">
                    <img src="./static/img/logo/logo.svg" alt="logo" />
                </a>
                <ul class="footer_list">
                    <li class="item_list">
                        <a href="about" class="link_item">О компании</a>
                    </li>
                    <li class="item_list">
                        <a href="#" class="link_item">Контакты</a>
                    </li>
                    <li class="item_list">
                        <a href="#" class="link_item">Вакансии</a>
                    </li>
                    <li class="item_list"><a href="#" class="link_item">Статьи</a></li>
                    <li class="item_list">
                        <a href="#" class="link_item">Политика обработки персональных данных</a>
                    </li>
                </ul>
                <ul class="social_list">
                    <li class="item_list">
                        <a href="#" class="link_item"><img src="./static/img/footer/social/instagram.png" alt=""
                                class="img-social" /></a>
                    </li>
                    <li class="item_list">
                        <a href="#" class="link_item"><img src="./static/img/footer/social/vkontakte.png" alt=""
                                class="img-social" /></a>
                    </li>
                    <li class="item_list">
                        <a href="#" class="link_item"><img src="./static/img/footer/social/facebook.png" alt=""
                                class="img-social" /></a>
                    </li>
                    <li class="item_list">
                        <a href="#" class="link_item"><img src="./footer/social/ok.png" alt="" class="img-social" /></a>
                    </li>
                </ul>

                <div class="phone">
                    <img src="./static/img/footer/phone.svg" alt="phone_logo" class="img_phone" />
                    <p class="text">8-987-158-82-68</p>
                </div>
            </div>
        </div>
    </footer>