<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="container padding">
        <div onmouseover="overButton()" onmouseout="outButton()" class="catalog-name_container">
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Непродовольственные товары</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
            <a href="#" class="text_name">Молоко, сыр, яйцо</a>
        </div>
    </div>

      <div class="container">
        <div class="navigation">
          <a href="#" class="link-page">Главная</a>
          <a href="#" class="link-page active">О нас</a>
        </div>
    </div>

    <main class="about">
        <div class="container">
            <div class="about_container">
                <div class="welcom_text">
                    <p class="title">О компании</p>
                    <p class="about_text">
                        Мы непрерывно развиваемся и <br>
                        работаем над совершенствованием сервиса,<br> 
                        заботимся о наших клиентах,<br>
                        стремимся к лучшему будущему.
                    </p>
                </div>
                <div class="achievements">
                    <div class="achievement">
                        <img src="static/img/about_fon/check.png" alt="">
                        <div class="text_achievement">
                            <p>Мы занимаемся розничной торговлей</p>
                            <p>Более 20 лет.</p>
                        </div>
                    </div>
                    <div class="achievement">
                        <img src="static/img/about_fon/check.png" alt="">
                        <div class="text_achievement">
                            <p>Основная миссия компании</p>
                            <p>Максимальное качество товаров и услуг по доступной цене.</p>
                        </div>
                    </div>
                    <div class="achievement">
                        <img src="static/img/about_fon/check.png" alt="">
                        <div class="text_achievement">
                            <p>Отличительная черта нашей сети</p>
                            <p>Здоровая и полезная продукция местного производства внаших магазинах.</p>
                        </div>
                    </div>
                </div>
                <div class="thank">
                    <div class="smile"></div>
                    <div class="massage">
                        <div class="left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="42" viewBox="0 0 40 42" fill="none">
                                <path d="M40 0.5L40 41.5L0 0.499998L40 0.5Z" fill="#E5FFDE"/>
                            </svg>
                        </div>
                        <div class="right">
                            <p>Спасибо за то, что вы с нами.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="../static/js/main.js"></script>

    {% include 'register.html' %}
</body>
</html>